.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  text-align: center;

  margin-bottom: 30px;

  @include font($font-s: 36px, $line-h: 1.17);

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.clients__list {
  @extend %flex-align;
  justify-content: space-between;

  margin-left: -30px;
  margin-bottom: -30px;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

.clients__item {
  width: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    width: calc(100% / 3 - 30px);
  }

  @media screen and (min-width: 1200px) {
    width: calc(100% / 6 - 30px);
    margin-bottom: 0;
  }
}

.clients__link {
  @extend %flex-align;
  justify-content: center;

  width: 100%;
  height: 92px;

  border: 1px solid $icon-color;
  border-radius: $primary-border-radius;

  fill: $icon-color;

  transition: $primary-transition;

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }

  @media screen and (min-width: 768px) {
    width: 100%;
    height: 92px;
  }

  @media screen and (min-width: 1200px) {
    width: 100%;
    height: 92px;
  }
}

.clients__icon {
  fill: $icon-color;

  transition: $primary-transition;

  .clients__link:hover &,
  .clients__link:focus & {
    fill: $accent-color;
  }
}
