// .contact-map {
//   width: 100%;
// }
.contact {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.test {
  position: relative;
}

.map {
  width: 100%;
  height: 600px;
  border: 0;
  border-radius: 10px;
}

.contact-box {
  padding-top: 20px;
  padding-bottom: 20px;

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 30%;
    left: 5%;

    padding: 30px;

    border-radius: 20px;

    background-color: rgba(243, 243, 245, 0.932);
  }

  @media screen and (min-width: 1200px) {
  }
}

.contact__title {
  margin-bottom: 20px;
}

.contact__title {
  //   font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.contact__text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.contact__text--uppend {
  margin-bottom: 20px;
}

.contact__label {
  margin-bottom: 2px;

  line-height: 1.5;
  color: #757575;
}

.contact__label--prepend {
  margin-top: 10px;
}

.contact__link {
  font-weight: 700;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.contact__link--uppend {
  margin-bottom: 20px;
}

.contact-social__list {
  display: flex;
}

.contact-social__item--append {
  margin-right: 10px;
}
