.hero {
  align-items: center;

  max-width: 100%;
  height: 400px;

  margin: 0 auto;
  padding: 118px 45px;

  background-color: $accent-background-color;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-bg480.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 480px 400px;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-color: $accent-background-color;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-bg480@2x.webp");
  }

  @media screen and (min-width: 768px) {
    padding: 118px 189px;

    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-bg768.jpg");
    background-size: 768px 400px;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-color: $accent-background-color;
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero-bg768@2x.webp");
    }
  }

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;

    height: 600px;

    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-bg1200.jpg");
    background-size: 1600px 600px;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-color: $accent-background-color;
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero-bg1200@2x.webp");
    }
  }
}

.hero__container {
  text-align: center;
  max-width: 100%;
}

.hero__title {
  margin-bottom: 30px;

  @include font(26px, 900, 1.61, 0.06em);
  text-align: center;
  text-transform: $primary-text-transform;

  color: $primary-white-color;

  @media screen and (min-width: 1200px) {
    @include font(44px, 900, 1.36, 0.06em);
  }
}

.hero__btn {
  padding: 10px 32px;

  &:hover,
  &:focus {
    background-color: $background-accent-btn;
  }
}
