.menu-open__button {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  margin-right: 8px;

  z-index: 2;

  padding: 0;

  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

// .menu-close__button {
//   display: block;
//   align-items: center;
//   margin-left: auto;

//   // z-index: 2;

//   padding: 0;

//   border: none;
//   background-color: transparent;

//   @media screen and (min-width: 768px) {
//     display: none;
//   }
// }

.button-icon {
  transition: $primary-transition;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.icon-cross {
  display: none;
}

.menu-open__button.is-open {
  position: fixed;
  right: 5%;
}

.is-open .icon-cross {
  display: block;
}

.is-open .icon-menu {
  display: none;
}

.mobile-menu {
  display: block;

  position: fixed;
  top: 0;
  left: 0;

  // TO DO: create variables z-index - low, medium, high
  z-index: 1;

  height: 796px;
  width: 100vw;

  padding-top: 48px;
  padding-bottom: 48px;

  background-color: $primary-white-color;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu.is-open {
  display: none;
  //position: fixed;
  top: 0;
}

.mobile-menu__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: absolute;
  top: 0;
  left: 0;

  height: 796px;
  width: 100vw;

  z-index: 1;

  padding: 21px 25px 48px 40px;

  background-color: $primary-white-color;
}

.menu-nav__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.menu-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;

  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.menu-nav__link--active {
  color: $accent-color;
}

.menu-contacts__list {
  margin-bottom: 64px;
}

.menu-contacts__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.menu-contacts__link--accent-color {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;

  letter-spacing: 0.02em;

  color: $accent-color;
}

.menu-contacts__link--grey-color {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: $paragraph-color;
}

.menu-social__list {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.menu-social__item {
  display: flex;
  margin-left: 0 auto;

  &:not(:last-child) {
    margin-right: 20px;
  }
}

.menu-social__link {
  width: 100%;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: $accent-color;

  transition: $primary-transition;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.menu-social__link--overlay {
  &::after {
    content: "";

    position: absolute;
    bottom: 50%;

    width: 22px;
    height: 0;

    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);

    transition: $primary-transition;
  }
}
